body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
}

h1 {
  font-size: 75px;
  text-align: center;
  padding-top: 100px;
  border-bottom: 1px ridge;
  padding-bottom: 40px;
}

h2 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#par {
  margin-bottom: 30px;
}

.btn-outline {
  color: #008037;
  background-color: #ffffff;
  border-color: #008037;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.btn-outline:hover {
  background: #008037;
  color: #ffffff;
  border-color: #008037;
}

nav.navbar {
  background: black;
  border: 0;
  font-size: 25px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.logo {
  width: 150px;
  height: 150px;
}

.micro-image {
  width: 250px;
  height: 250px;
}

.site-footer {
  padding: 100px 0px;
}

.page-footer nav a {
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  text-align: center;
  color: black;
}

#signUpC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.container .vertical-center {
  display: flex;
  align-items: center;
}

.carousel-item {
  height: 700px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 700px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

#map {
  justify-content: center;
  margin-left: 40px;
  padding-top: 40px;
}

/* https://stackoverflow.com/questions/24166568/set-bootstrap-modal-body-height-by-percentage */
.modal-dialog,
.modal-content {
  /* 80% of window height */
  height: 80%;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  background-image: url("https://i.pinimg.com/564x/60/e6/84/60e68423ddae6d0c3b443179f718e34c.jpg");
}
