body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 75px;
  text-align: center;
  padding-top: 100px;
  border-bottom: 1px ridge;
  padding-bottom: 40px;
}

h2 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav.navbar {
  background: green;
  border: 0;
  font-size: 25px;
}

.nav ul {
  margin: 40px 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  padding: 100px 0px;
}

.page-footer nav a {
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  text-align: center;
  color: black;
}

.container .vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  color: purple;
}

.carousel-item {
  height: 700px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 700px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
